<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	>
	<description>The application context for query</description>
	<bean id="customerQry" class="com.demo2.support.service.impl.QueryServiceImpl">
		<property name="queryDao">
			<bean class="com.demo2.support.dao.impl.QueryDaoMybatisImpl">
				<property name="sqlMapper" value="com.demo2.trade.query.dao.CustomerMapper"></property>
			</bean>
		</property>
	</bean>
	<bean id="productQry" class="com.demo2.support.repository.AutofillQueryServiceImpl">
		<property name="queryDao">
			<bean class="com.demo2.support.dao.impl.QueryDaoMybatisImpl">
				<property name="sqlMapper" value="com.demo2.trade.query.dao.ProductMapper"></property>
			</bean>
		</property>
		<property name="dao" ref="basicDao"></property>
	</bean>
</beans>